<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<title><%= title %></title>
</head>

<body>
	<nav>

		<img class="icon" src="https://i.imgur.com/aNfq7H3t.jpg">

		<button><a href="/" <%- title === 'HOME' ? 'class="active"' : '' %>>
				HOME</a></button>

		<button><a href="/designs" <%- title === 'All Designs' ? 'class="active"' : '' %>>ALL DESIGNS</a>

			<% if (user) { %> </button>

		<button><a href="/designs/new" <%- title === 'Add Design' ? 'class="active"' : '' %>>ADD DESIGN</a> </button>

		<button><a href="/designs" <%- title === 'My Designs' ? 'class="active"' : '' %>>MY DESIGNS</a>
		</button>

		<button class='loginoutBtn'><a href="/logout">LOG OUT</a> </button>
		<% } else { %>
		<button class='loginoutBtn'> <a href="/auth/google" <%- title === 'Log in' ? 'class="active"' : '' %>>LOG IN</a>
		</button>

		<% } %>

		<h1 class="header">Interior Design Inspiration</h1>
		<!-- <h4 id="header"> A space to save your ideas! </h4> -->
	</nav>
	<main>