<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<title>
		<%= title %>
	</title>
</head>

<body>
	<div class="banner">
		<p class="home-banner">Enjoy exploring a great selection of images</p>
	</div>
	<nav>
		<a href="/" class="navbar-brand">Interior Design Inspiration</a>
		<ul>

			<li><a href="/" class="nav-links" <%- title==='HOME' ? 'class="active"' : '' %>>HOME</a></li>

			<li><a href="/designs" class="nav-links" <%- title==='All Designs' ? 'class="active"' : '' %>>ALL DESIGNS</a></li>

			<% if (user) { %> </button>

				<li><a href="/designs/new" class="nav-links"<%- title==='Add Design' ? 'class="active"' : '' %>>ADD DESIGN</a> </li>

				<li><a href="/designs/mydesigns" class="nav-links" <%- title==='My Designs' ? 'class="active"' : '' %>>MY DESIGNS</a></li>

				<li  class='loginoutBtn'><a href="/logout" class="nav-links">LOG OUT</a></li>
				<% } else { %>
					<li class='loginoutBtn'> <a href="/auth/google" class="nav-links"<%- title==='Log in' ? 'class="active"' : '' %>>LOG IN</a></li>
					
		</ul>
		
		

		<% } %>

	</nav>
	<main>