<%- include('../partials/header') %>

<br><br>
<h1>Title: <%= design.title %></h1>
<h1>Style: <%= design.style %></h1>

<br>


<section class="imageSection">

	<div id="IMGDiv">

		<div class="imgCapDiv"> <img class="image" alt="" width="500" height="500" src="<%= design.images %>">
		</div>
		<div class="editDelBtnDiv">
			<% if (user && user._id.equals(design.user)) { %>

			<a href="/designs/<%= design._id %>/edit ">Edit</a>

			<form action="/designs/<%= design._id %>?_method=DELETE" method="POST">
				<button type="submit">Delete</button>
			</form>
			<% } %>
			<br><br>


			<h2>Comments</h2>
			<form action="/designs/<%= design._id %>/comments" method="POST">
				<label>Comment:</label> <br>
				<textarea name="content"></textarea> <br>
				<button type="submit" value="Add Comment">Add Comment</button>

			</form>




			<br>

		</div>
	</div>
</section>

<% design.comments.forEach(function(d) { %>

<tr>
	<td class="comment-user"><img alt="avatar" src="<%= d.userAvatar %>"><%= d.userName %></td>
	<td><%= d.createdAt.toLocaleDateString() %></td>
	<td><%= d.content%></td>

	<td>
		<% if (user && user._id.equals(d.user)) { %>
		<form action="/comments/<%= d._id %>?_method=DELETE" method="POST">
			<button type="submit">X</button>
		</form>
		<% } %>
	</td>
</tr>
<% }); %>
</tbody>
</table>




<%- include('../partials/footer') %>