<%- include('../partials/header') %>

<br><br>
<h1>Title: <%= design.title %></h1>
<h1>Style: <%= design.style %></h1>

<br>


<section class="imageSection">
	<% if (design.images.length) { %>
	<% design.images.forEach(function(s) { %>
	<div id="IMGDiv">

		<div class="imgCapDiv"> <img class="image" alt="" src="<%= s.photoUrl %>">
			<div class="caption"><%= s.caption %></div>
		</div>
		<div class="editDelBtnDiv">
			<% if (user && user._id.equals(design.user)) { %>

			<form action="/images/<%= s._id %>?_method=DELETE" method="POST">
				<button type="submit">Delete</button>
			</form>
			<br>
			<% } %>
		</div>
	</div>
	<% }); %>
	<% } else { %>
	<h3>No Images Yet! <br> Add one!</h3>
	<% } %>
</section>






<%- include('../partials/footer') %>