<%- include('../partials/header') %>
<br>
<div class="despage">
<h1>Title: <%= design.title %></h1>
<h1>Style: <%= design.style %></h1>
</div>
<br>
<section>
	<div>
		<div class="imageSection"> 
			<img id="mydes" alt="" src="<%= design.images %>">
		</div>
		<div id="formsec">
		<div class="editDelBtnDiv">
			<% if (user && user._id.equals(design.user)) { %>

			<a id="edit-btn" href="/designs/<%= design._id %>/edit ">Edit</a>

			<form action="/designs/<%= design._id %>?_method=DELETE" method="POST">
				<button id="deletebtn" type="submit">Delete</button>
			</form>
			<% } %>
			<br>

			<h2 class="comment-h2">Comments</h2>
			<form action="/designs/<%= design._id %>/comments" method="POST">
				<label>Add:</label> <br>
				<textarea name="content"></textarea> <br>
				<button id="addcom" type="submit" value="Add Comment">submit</button>
			</form>
			<br>
		</div>
	</div>
	</div>
</section>
<% design.comments.forEach(function(d) { %>
<div id="usercomment">
	<tr>
	<td class="comment-user"><img alt="avatar" id="avatar" src="<%= d.userAvatar %>"><%= d.userName %></td>

	<td><%= d.content%></td>
	<td><%= d.createdAt.toLocaleDateString() %></td>

	<% if (user && user._id.equals(d.user)) { %>
	<form action="/comments/<%= d._id %>?_method=DELETE" method="POST">
		<button id="btncom" type="submit">x</button>
	</form>
	<% } %>
</tr>
</div>

<% }); %>

<%- include('../partials/footer') %>